@inherits LayoutComponentBase

<MudThemeProvider @ref="@mudThemeProvider" Theme="@theme" @bind-IsDarkMode="isDarkMode"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h5" Class="ml-3">Buenaventura</MudText>
        <MudSpacer/>
        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle"/>
    </MudAppBar>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool isDarkMode;
    private MudTheme? theme;
    private MudThemeProvider? mudThemeProvider;

    protected override void OnInitialized()
    {
        theme = new MudTheme
        {
            PaletteLight = Themes.Light(),
            PaletteDark = Themes.Dark(),
            LayoutProperties = new LayoutProperties()
        };
        base.OnInitialized();
    }

    private void DarkModeToggle()
    {
        isDarkMode = !isDarkMode;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isDarkMode = await mudThemeProvider!.GetSystemPreference();
            StateHasChanged();
        }
    }


    private string DarkLightModeButtonIcon => isDarkMode switch
    {
        true => Icons.Material.Rounded.AutoMode,
        false => Icons.Material.Outlined.DarkMode,
    };

}


