@page "/"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveAuto

@attribute [Authorize]

<MudText Typo="Typo.h4" GutterBottom="true">Dashboard</MudText>

<MudText Typo="Typo.body2">
    <ul>
        <li>Expense breakdown by category</li>
        <li>- Drilldown by month</li> 
        <li>Investment value over time</li>
        <li>Net worth over last 12 months</li>
        <li>Cash Flow this month (income minus expenses, excluding investments)</li>
        <li>Breakdown of asset classes</li>
        <li>Line chart of top 5 expenses over last month</li>
        <li>Credit card total</li>
        <li>Bank account total</li>
    </ul>
</MudText>
